<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Countdown for the World Cup 2026" />
    <title>Countdown World Cup 2026</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <a href="GUI.html"><img id="logo" alt="FIFA 2026" src="FIFA_Small_Logo_for_Header-transformed.webp"></a>
        <h1>World Cup 2026 Ticket Portal</h1>
        <nav>
            <ul>
                <li><a href="Countdown.html">COUNTDOWN</a></li>
                <li><a href="Tickets.html">TICKETS</a></li>
                <li><a href="Login.html">LOGIN</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="main-page-container">
            <img id="main-page-picture" src="FIFA 2024 Main Page Picture.webp" />
            <p class="left-text">Welcome to the FIFA 2026 Ticket Portal. <br />
                Buy your tickets now and join us for an unforgettable event!
            </p>
            <p class="right-text">
                The 2026 World Cup will be held in the United States, Canada and Mexico
                and will be held from 11th June 2026 to 19th July 2026.
            </p>
            <a href="Login.html" class="login-anchor">Buy Tickets</a>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <address class="contact-info">
                Muhammad Adil Sameer<br />
                University of British Columbia<br />
                Vancouver<br />
                Canada
            </address>

            <div class="social-media">
                <a href="https://www.linkedin.com/in/muhammad-adil-sameer/">
                    <img src="Linekdin Icon.png" alt="LinkedIn" class="social-icon">
                </a>
                <a href="https://www.instagram.com/adeeelsameer/">
                    <img src="Instagram Icon.png" alt="Instagram" class="social-icon">
                </a>
                <a href="mailto:adilsameer99@gmail.com">
                    <img src="Gmail Icon.png" alt="Email" class="social-icon">
                </a>
            </div>
        </div>
    </footer>
</body>

</html>